<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<DDConfig Version="LS Data Director 3.02 - [3.2.30.413]">
  <BaseConfig>
    <BasePort>16800</BasePort>
    <RouterPrgId>2</RouterPrgId>
    <ServicePrgId>1</ServicePrgId>
    <Aliases>INSERT_ALIAS</Aliases>
    <ClassId></ClassId>
    <ReturnIP></ReturnIP>
    <OTimeout>10</OTimeout>
    <STimeout>30</STimeout>
    <RTimeout>5</RTimeout>
    <SCfgTimeout>60</SCfgTimeout>
    <RouterWait>20</RouterWait>
    <MaxConnections>100</MaxConnections>
    <UseTCPCred>false</UseTCPCred>
    <TCPSecMode>Transport</TCPSecMode>
    <TCPMsgCredType>Certificate</TCPMsgCredType>
    <TCPStoreLoc>LocalMachine</TCPStoreLoc>
    <TCPStoreName>My</TCPStoreName>
    <TCPFindType>FindByIssuerName</TCPFindType>
    <TCPIssuer></TCPIssuer>
    <DnsIdentity></DnsIdentity>
    <FileSize>268435455</FileSize>
    <DataSize>262144000</DataSize>
    <ZipFileSize>0</ZipFileSize>
    <SevenZipSize>0</SevenZipSize>
    <ZipMode>ZipStream</ZipMode>
    <Priority>Normal</Priority>
    <MaxErrors>10</MaxErrors>
    <MaxThreads>20</MaxThreads>
    <MaxDBThreads>1</MaxDBThreads>
    <ArcExpire>30</ArcExpire>
    <DbgFileSize>2049000</DbgFileSize>
    <DbgFileCnt>5</DbgFileCnt>
    <DbgClient>0</DbgClient>
    <DbgKeepFile>30</DbgKeepFile>
    <InstallPath>C:\Program Files\LS Retail\Data Director 3</InstallPath>
    <DataPath>C:\ProgramData\LS Retail\Data Director</DataPath>
    <UpdateApps>true</UpdateApps>
    <MultiJob>false</MultiJob>
    <LockCode></LockCode>
    <CFront>false</CFront>
  </BaseConfig>
  <AppConfig>
    <Program Port="1">
      <Exec>DDService.exe</Exec>
      <Desc>Service program</Desc>
      <Host>INSERT_HOSTNAME</Host>
      <Type>Service</Type>
      <ExecBy>0</ExecBy>
      <Router>2</Router>
      <Debug>0</Debug>
      <Param>
        <ShutdownWait>2</ShutdownWait>
        <KillWait>30</KillWait>
      </Param>
    </Program>
    <Program Port="2">
      <Exec>DDRouter.exe</Exec>
      <Desc>Router program</Desc>
      <Host>INSERT_HOSTNAME</Host>
      <Type>Router</Type>
      <ExecBy>1</ExecBy>
      <Router>0</Router>
      <Debug>0</Debug>
      <Param>
        <TCPS>16850</TCPS>
        <TCP>16860</TCP>
        <HTTP>0</HTTP>
        <ErrSleep>90</ErrSleep>
        <ErrTry>0</ErrTry>
        <OffHold>0</OffHold>
        <OffMan>0</OffMan>
        <KeepData>false</KeepData>
        <GlobTime>60</GlobTime>
        <StatTime>10</StatTime>
        <Timeout>5</Timeout>
      </Param>
    </Program>
    <Program Port="3">
      <Exec>DDDatabase.exe</Exec>
      <Desc>Database program</Desc>
      <Host>INSERT_HOSTNAME</Host>
      <Type>Process</Type>
      <ExecBy>1</ExecBy>
      <Router>2</Router>
      <Debug>0</Debug>
      <Param>
        <NavPath>C:\Program Files\LS Retail\Data Director 3\cfront</NavPath>
        <DecFix>F05</DecFix>
        <RepChr></RepChr>
        <IsoLevel>ReadUncommitted</IsoLevel>
        <ConTimeOut>1</ConTimeOut>
        <FOBTimeOut>10</FOBTimeOut>
        <SQLTimeOut>0</SQLTimeOut>
        <ThrTimeOut>60</ThrTimeOut>
        <TSTimeOut>10</TSTimeOut>
        <Extra>true</Extra>
        <BigDec>false</BigDec>
        <SUpd>false</SUpd>
        <UseTrunc>false</UseTrunc>
        <NavCU>99001483</NavCU>
      </Param>
    </Program>
    <Program Port="10">
      <Exec>DDScheduler.exe</Exec>
      <Desc>Scheduler Program</Desc>
      <Host>INSERT_HOSTNAME</Host>
      <Type>Scheduler</Type>
      <ExecBy>1</ExecBy>
      <Router>2</Router>
      <Debug>0</Debug>
      <Param>
        <NAVDB>false</NAVDB>
        <DBString>Data Source=INSERT_SERVER;Initial Catalog=INSERT_DATABASE;User ID=INSERT_USER;Password=INSERT_PASSWORD;Network Library=dbmslpcn;|ms|</DBString>
        <NAVSleep>5</NAVSleep>
        <NAVType></NAVType>
        <SrcThr>true</SrcThr>
      </Param>
    </Program>
  </AppConfig>
</DDConfig>
