<configuration>
  <appSettings>
    <add key="LogLevel" value="3" />
    <!-- ************************************************************************************************************************* -->
    <!-- Settings that define if a syncronization service is used for dual displays and its timer interval -->
    <add key="UseDualDisplaySync" value="0" />
    <add key="DualDisplaySyncInterval" value="5" />
    <!-- ************************************************************************************************************************* -->
    <!-- ************************************************************************************************************************* -->
    <add key="ExternalAddress" value="" />
    <add key="DatabaseServer" value="INSERT_SERVER" />
    <add key="DatabaseWindowsAuthentication" value="False" />
    <add key="DatabaseUser" value="INSERT_USER" />
    <add key="DatabasePassword" value="INSERT_PASSWORD" />
    <add key="DatabaseName" value="INSERT_DATABASE" />
    <add key="SiteServicePluginOverride" value="" />
    <add key="DaysToKeepLogs" value="30" />
    <!-- ************************************************************************************************************************* -->
    <!-- Security -->
    <add key="PrivateHashKey" value="" />
    <add key="MaxCount" value="50" />
    <add key="MaxUserConnectionCount" value="30" />
    <!-- ************************************************************************************************************************* -->
    <!-- DatabaseConnectionType can be one of the following: TCP/IP,Named pipes, Shared memory -->
    <!-- ************************************************************************************************************************* -->
    <add key="DatabaseConnectionType" value="Shared memory" />
    <!-- ************************************************************************************************************************* -->
    <!-- SiteManagerUser has to be created as a special server user on the Site Manager - normal user will not work -->
    <add key="SiteManagerUser" value="SiteServiceUser" />
    <add key="SiteManagerPassword" value="" />
    <add key="DataAreaID" value="LSR" />
    <add key="Port" value="9101" />
    <!-- E-mail settings -->
    <add key="EMailSendInterval" value="0" />
    <add key="EMailMaximumBatch" value="25" />
    <add key="EMailMaximumAttempts" value="5" />
    <add key="EMailTruncateQueue" value="Each" />
    <!-- HBO Settings -->
    <add key="IsCloud" value="False" />
    <!-- SiteService NetTcp connection timeout (in seconds) -->
    <add key="NetTcpTimeout" value="60" />
  </appSettings>
</configuration>